doctype
html(lang="ja" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    != head && head.title.toString()
    != head && head.meta.toString()
    != head && head.link.toString()
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="stylesheet" href="/app.css")
  body
    #root!= content
    if state
      script.
        window.__INITIAL_STATE__ = !{state || '{}'};
    script(src="/vendor.js")
    script(src="/app.js")
